<td class='bookmark-left-td'>
    <div class='bookmark-date'>
        <div class='bookmark-date-text'><%= date %></div>
    </div>
</td>
  
<td class='bookmark-middle-td'>
    <div class='bookmark-main'>
        <div class='bookmark-main-link'>
            <a href='<%= url %>' class='bookmark-url' target='_blank' title='<%= notes %>'><%= title %></a>
        </div>
        <div class='bookmark-notes'><%= notes %></div>
        <div class='bookmark-tags'>
            <i class="icon-tags"></i>
            <% for (var i = 0; i < tags.length; i++) { %>
                <span class='label'><%= tags[i].toLowerCase() %></span>
            <% }; %>
        </div>
        <div class='bookmark-main-edit'>
            <a class='bookmark-edit-link' href='#'>Edit</a> | <a class='bookmark-delete' href='#'>Delete</a>
        </div>
    </div>
</td>
